
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-baby:before { content: '\e802'; } /* '' */
.icon-man:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */